/* Empty. Add your own CSS if you like */
.slider{
	height:100%;
	text-align:center;
}
.scroll{
	height:100%;
}
#BackGround1{
	background: url(Group1s.png);
	background-size: cover;
}
#BackGround2{
	background: url(Group2s.png);
	background-size: cover;
}
#BackGround3{
	background: url(Group3s.png);
	background-size: cover;
}

#ImpressJob{
	border-radius: 50px;
	text-align: center;
	font-size: 20px;
}