/* Empty. Add your own CSS if you like */
.slider{
	height:100%;
	text-align:center;
	
}
.scroll{
	height:100%;
}
#BackGround1{
	background: url(Group1d.png);
	background-size: cover;
}
#BackGround2{
	background: url(Group2d.png);
	background-size: cover;
}
#BackGround3{
	background: url(Group3d.png);
	background-size: cover;
}

#ImpressJob{
	border-radius: 50px;
	text-align: center;
	font-size: 20px;
	background-color: #6EC6C5;
}